# .NET Core artifacts
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Pp]ublish/

# Visual Studio / Rider støy
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Applikasjonsspesifikke lokaldata (Kritisk)
*.db
*.db-journal
*.db-wal
wwwroot/mock*.pdf
wwwroot/uploads/